###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE files
/.idea/
/.vscode/
###< IDE files

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> Images uploades en dehors du processus des fixtures
/public/Images/Produits/
###< Images uploades en dehors du processus des fixtures
